/* Button */
.md-typeset .md-button {
    padding:.4em 1em;
}
.md-typeset .md-button:focus,
.md-typeset .md-button:hover {
  background-color: transparent;
  border-color:var(--md-primary-fg-color);
  color: #fff;
}

:root {
    --md-tooltip-width: 750px;
  }